$color_1: #667085;
$color_2: #f70;
$color_3: #4d4d4d;
$font-family_1: Inter;

.modal-header {
  border: none;
  .close {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 0;
    border: 3px solid #000;
    opacity: 0.5;
    font-size: 30px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    top: 35px;
    right: 35px;
    position: absolute;
    z-index: 10;
  }
}
.modal.modal-start-project {
  .modal-dialog {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    min-height: calc(100% - 40px);
    margin: 20px auto;
    display: flex;
    align-items: center;
  }
  .modal-header {
    border: none;
    padding: 0;
  }
  .modal-body {
    padding: 0;
  }
  .modal-content {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    border-radius: 24px;
  }
}
.modal {
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    zoom: 80%;
    
    .col {
      width: 50%;
      padding: 90px 25px;
    }
    .col.modal-left-col {
      max-width: 40%;
      width: 100%;
    }
    .col.modal-right-col {
      max-width: 60%;
      width: 100%;
    }
  }
}
.modal-left-col {
  background: rgba(0, 0, 0, 0.05);
}
.col.modal-right-col {
  .content-inner {
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
  }
}
.form-headingtext {
  h2 {
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.01em;
    margin-bottom: 1rem;
    span {
      color: $color_2;
    }
  }
  .title-label {
    color: $color_1;
    font-family: $font-family_1;
    font-size: 20px;
    font-style: normal;
  }
}
.highlighted-serivces {
  .item {
    border-radius: 24px;
    background: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 23px 24px;
    .icon {
      > img {
        max-width: 50px;
      }
    }
    .content {
      padding-left: 22px;
    }
  }
}
.item {
  .content {
    p {
      margin-bottom: 0;
    }
    h5 {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}
.project-form {
  .form-group {
    margin-bottom: 30px;
    label {
      color: $color_3;
    }
    .form-control {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #c5c5c5;
      border-radius: 0;
      box-shadow: none;
      color: $color_3;
      letter-spacing: 1px;
      padding: 0;
      height: auto;
      line-height: normal;
    }
    textarea.form-control {
      height: 73px;
    }
  }
  .form-group.submit-btn {
    align-items: flex-start;
    display: flex;
    margin-bottom: 0;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;

    .wpcf7-not-valid-tip {
      position: absolute;
      top: 100%;
      left: 0;
    }
    .btn {
      width: auto;
      min-width: inherit;
      padding: 18px 33px;
    }
  }
  .wpcf7-response-output {
    padding-top: 10px;
  }
  .wpcf7 {
    .wpcf7-recaptcha {
      > div {
        transform: scale(0.77);
        transform-origin: left center;
      }
    }
  }
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .modal {
    .flex-row {
      zoom: 80%;

      .col {
        padding: 65px 25px 35px 25px;
      }
    }
  }
  .modal.modal-start-project {
    .modal-dialog {
      max-width: 900px;
    }
  }
  .form-headingtext {
    h2 {
      font-size: 34px;
    }
  }
  .highlighted-serivces {
    .item {
      padding: 18px 21px;
      .content {
        font-size: 12px;
      }
    }
  }
  div#elsner-popup {
    background: rgba(0, 0, 0, 0.5);
  }
  .item {
    .content {
      h5 {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .modal {
    .flex-row {
      .col {
        padding: 65px 25px 35px 25px;
      }
    }
  }
  .modal.modal-start-project {
    .modal-dialog {
      max-width: 900px;
    }
  }
  .form-headingtext {
    h2 {
      font-size: 34px;
    }
  }
  .highlighted-serivces {
    .item {
      padding: 18px 21px;
      .content {
        font-size: 12px;
      }
    }
  }
  div#elsner-popup {
    background: rgba(0, 0, 0, 0.5);
  }
  .item {
    .content {
      h5 {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 992px) {
  .modal.modal-start-project {
    .modal-dialog {
      max-width: 95%;
    }
  }
  .project-form {
    .form-group.submit-btn {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
@media (max-width: 767px) {
  .modal {
    .flex-row {
      .col {
        padding: 45px 25px;
      }
      .col.modal-right-col {
        max-width: 100%;
        order: -1;
      }
      .col.modal-left-col {
        max-width: 100%;
        display: none;
      }
    }
  }
  .col.modal-right-col {
    .content-inner {
      max-width: 100%;
    }
  }
  .project-form {
    .form-group {
      textarea.form-control {
        height: 50px;
      }
      margin-bottom: 15px;
    }
    .form-group.submit-btn {
      .btn {
        padding: 10px 33px;
      }
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .modal-header {
    .close {
      height: 30px;
      width: 30px;
      font-size: 26px;
    }
  }
  .form-headingtext {
    .title-label {
      font-size: 16px;
    }
    h2 {
      font-size: 28px;
    }
  }
  .modal.modal-start-project {
    .modal-dialog {
      .modal {
        .flex-row {
          .col {
            padding: 65px 25px 30px 25px;
          }
        }
      }
      margin: 10px auto;
    }
  }
}
@media (max-height: 800px) and (min-width: 1100px) {
  .modal.modal-start-project {
    .modal-dialog {
      max-width: 1040px;
    }
  }
  .col.modal-right-col {
    .content-inner {
      max-width: 450px;
    }
  }
  .form-headingtext {
    .title-label {
      font-size: 16px;
    }
    h2 {
      font-size: 34px;
    }
  }
  .modal {
    .flex-row {
      .col {
        padding: 45px 27px;
      }
    }
  }
  .project-form {
    .form-group {
      margin-bottom: 22px;
      textarea.form-control {
        height: 50px;
      }
      label {
        margin-bottom: 0;
      }
    }
    .form-group.submit-btn {
      .btn {
        padding: 14px 33px;
      }
    }
  }
  .highlighted-serivces {
    .item {
      padding: 18px 20px;
    }
  }
}
#germany-popup {
  .modal-header {
    .close {
      right: 55px;
      top: 55px;
    }
  }
  &.modal {
    &.modal-start-project {
      .modal-dialog {
        max-width: 1590px;
        .modal-content {
          max-width: 1590px;
        }
      }
    }
    .flex-row {
      .col {
        &.modal-left-col {
          max-width: 54%;
          background-color: #005282;
          padding: 84px 82px;

          .heading {
            color: #fff;
            max-width: 532px;
            padding-bottom: 60px;
            h2 {
              font-size: 48px;
              font-weight: 600;
            }
            span {
              color: #f70;
            }
          }
        }
        &.modal-right-col {
          max-width: 46%;
          padding: 96px 27px 46px 27px;
          .form-headingtext {
            padding-bottom: 10px;
            h2 {
              font-weight: 600;
              font-size: 48px;
            }
          }
          .content-inner {
            max-width: 582px;
          }
          .form-group {
            label {
              font-size: 16px;
              font-weight: 700;
              color: #4d4d4d;
            }
          }
          .form-meet-us-text {
            font-size: 20px;
            font-weight: 700;
            color: #4d4d4d;
            padding-top: 60px;
          }
        }
      }
    }
  }
}
@media (max-width: 1680px) {
  #germany-popup {
    .modal-header {
      .close {
        right: 35px;
        top: 35px;
      }
    }
    &.modal {
      &.modal-start-project {
        .modal-dialog {
          max-width: 1200px;
          .modal-content {
            max-width: 1200px;
          }
        }
      }
      .flex-row {
        .col {
          &.modal-left-col {
            padding: 24px 42px;
            .heading {
              max-width: 412px;
              h2 {
                font-size: 36px;
              }
            }
          }
          &.modal-right-col {
            padding: 36px 27px 36px;
            .form-headingtext {
              h2 {
                font-size: 36px;
              }
            }
            .form-meet-us-text {
              padding-top: 0px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  #germany-popup {
    &.modal {
      &.modal-start-project {
        .modal-dialog {
          max-width: calc(100% - 100px);
        }
      }
    }
  }
}
@media (max-width: 991px) {
  #germany-popup {
    .modal-header {
      .close {
        color: #fff;
        border-color: #fff;
      }
    }
    &.modal {
      &.modal-start-project {
        .modal-dialog {
          max-width: 540px;
        }
      }
      .flex-row {
        flex-direction: column;
        .col {
          &.modal-left-col {
            max-width: 100%;
            padding: 24px;
            .heading {
              padding-bottom: 20px;
              h2 {
                font-size: 28px;
              }
            }
          }
          &.modal-right-col {
            max-width: 100%;
            padding: 24px;
            .form-headingtext {
              h2 {
                font-size: 28px;
                margin-bottom: 16px;
              }
            }
            .form-group {
              margin-bottom: 12px;
              label {
              }
            }
          }
          &.modal-right-col {
            .form-meet-us-text {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #germany-popup {
    .modal-header {
      .close {
        color: #000;
        border-color: #000;
      }
    }
    &.modal {
      &.modal-start-project {
        .modal-dialog {
          max-width: 540px;
          width: 90%;
        }
      }
      .flex-row {
        .col {
          &.modal-right-col {
            .form-headingtext {
              h2 {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}
